.img-mini {
    width: 200px;
    margin: 10px;
}

.description-user {
    padding-bottom: 20px;
    padding-top: 30px;
    font-style: italic;
}

.image-header-block {
    text-align: center;
    padding: 15px;
}

.image-header {
    width: 300px;
}

.avatar-user-100 {
    width: 100px;
}

.avatar-user-70 {
    width: 70px;
}

.avatar-user-50 {
    width: 50px;
}

.avatar-user-30 {
    width: 30px;
}

.button-group-profile {
    padding-left: 30px;
}

.main-menu {
    margin-bottom: 30px;
}

i.fas.fa-heart {
    color: deeppink;
    font-size: 30px;
}

i.far.fa-heart {
    color: gray;
    font-size: 30px;
}

.filled-like {
    background-color: darkblue;
}

.empty-like {
    color: dimgray;
}


.nav-pills {
    width: 100%;
    text-align: center;
}

.nav-pills > li {
    float: none;
    display: inline-block;
}

.glyphicon-heart {
    color: palevioletred;
    font-size: 2rem;
}

.glyphicon-heart-empty {
    color: whitesmoke;
    font-size: 2rem;
}

.button-unlike, .button-like {
    text-decoration: none !important;
}

.thumbnails {
    text-align:center;
}

.thumbnails > li {
    display: inline-block;
    float: none;
}

.block-post {
    max-width: 500px;
    display: grid;
    text-align: left;
}
